.login-container {
  width: 100vw;
  height: 100vh;
  background-color: #a8a8ac;
  .header-container {
    padding: 40px;
    display: flex;
    align-items: center;
    img {
      width: 48px;
      height: 48px;
      border-radius: 3px;
    }
    span {
      font-size: 30px;
      font-weight: bold;
      margin-left: 20px;
      color: #333;
    }
  }
  .content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    .right-container {
      margin-right: 100px;
      .form-container {
        width: 465px;
        height: 400px;
        background-color: #fff;
        border-radius: 10px;
        .header {
          font-size: 30px;
          font-weight: bold;
          color: #333;
          padding: 60px 0 20px 0;
          text-align: center;
        }
        .main {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .other {
          margin-top: 20px;
          padding: 0 82.5px;
        }
        .btn-container {
          margin-top: 20px;
          padding: 0 82.5px;
        }
      }
    }
  }
  .footer-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #333;
  }
}
