.vehicle-model-container {
  margin: 20px;
  min-height: 260px;
  position: relative;

  .filtrate-container {
    background-color: #fff;
    padding: 20px;

    .input-container {
      display: flex;

      /deep/ .ivu-form-item-content {
        float: left;
      }
    }

    .from-brand {
      padding: 10px 8px;

      .ivu-radio-group {
        display: block;
      }
    }

    .vehicle-type {
      padding: 10px 8px;
    }

    .vehicle-status {
      padding: 10px 8px;
    }
  }

  .content-container {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    position: relative;

    .page-container {
      text-align: right;
      margin-top: 20px;
    }
  }
}

.ivu-form-item {
  margin-bottom: 0px;
  padding: 8px;
}