.fetch-vehicle-container {
  margin-top: 5px;
  min-height: 260px;
  position: relative;

  .suffix {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .basic-info-container {
    padding: 16px;
    background-color: #fff;

    .header {
      padding-bottom: 10px;

      span:first-child {
        font-size: 20px;
      }

      span:last-child {
        margin-left: 10px;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .string {
        width: 1px;
        height: 40px;
        background-color: #e4e4e4;
      }

      .left {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 2;
      }

      .center {
        padding: 0 60px;

        .bottom {
          display: flex;
          align-items: center;

          .start {
            margin-right: 10px;
          }

          .time {
            div {
              border-bottom: 1px solid #e4e4e4;
              width: 50px;
              text-align: center;
              margin-bottom: 10px;
            }
          }

          .end {
            margin-left: 10px;
          }
        }
      }

      .right {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex: 2;

        &>div:first-child {
          .bottom {
            .fetch {
              display: flex;
              position: relative;
              align-items: center;

              &::before {
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 3.5px;
                background-color: rgba(105, 189, 131, 1);
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
              }

              span {
                padding-left: 10px;
              }

              div {
                width: 16px;
                height: 16px;
                background-color: #fff;
                border-radius: 50%;
                border: 2px solid rgba(105, 189, 131, 1);
                line-height: 12px;
                text-align: center;
                color: rgba(105, 189, 131, 1);
                font-size: 9px;
                margin-left: 5px;
              }
            }

            .return {
              display: flex;
              position: relative;
              align-items: center;

              &::before {
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 3.5px;
                background-color: rgba(105, 189, 131, 1);
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
              }

              span {
                padding-left: 10px;
              }

              div {
                width: 16px;
                height: 16px;
                background-color: #fff;
                border-radius: 50%;
                border: 2px solid rgba(104, 104, 104, 1);
                line-height: 12px;
                text-align: center;
                color: rgba(104, 104, 104, 1);
                font-size: 9px;
                margin-left: 5px;
              }
            }
          }
        }

        &>div:last-child {
          display: flex;
        }
      }
    }
  }

  .fetch-form-container {
    margin: 10px 20px 20px 20px;
    background-color: #fff;

    .header {
      font-size: 18px;
      font-weight: bold;
      padding: 20px;
      border-bottom: 1px solid #e4e4e4;
    }

    .form-container {
      padding: 20px;
      display: flex;
      justify-content: center;

      .btn-container {
        padding-left: 120px;
      }
    }
  }
}