.workspace-container {
    margin: 20px;
    min-height: 260px;
    position: relative;

    .header {
        font-size: 18px;
        font-weight: bold;
        padding: 20px;
        background-color: #fff;
    }

    .platform-mg {
        margin-bottom: 10px;

        .content {
            padding: 20px;
            margin-top: 1px;
            background-color: #fff;

            .card {
                display: inline-block;
                text-align: center;

                &:not(:last-child) {
                    margin-right: 50px;
                }

                .img-container {
                    img {
                        width: 44px;
                        height: 44px;
                    }
                }
            }

            // .text {

            // }
        }
    }

    .shop-mg {
        margin-bottom: 10px;

        &>.content {
            padding: 20px;
            margin-top: 1px;
            background-color: #fff;
            display: flex;
            height: 580px;

            .left {
                flex: auto;
                margin-right: 20px;
                border-radius: 4px;
                border: 1px solid #ddd;

                .item-container {
                    margin-bottom: 10px;
                    background-color: #fff;

                    .item-header {
                        border-bottom: 1px solid #e4e4e4;
                        padding: 5px 28px 5px 28px;
                    }

                    .item-content {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px 28px 5px 28px;

                        .info {
                            display: flex;
                            align-items: center;
                        }

                        .duration {
                            display: flex;
                            align-items: center;

                            .start {
                                margin-right: 10px;
                                text-align: center;
                            }

                            .time {
                                div {
                                    border-bottom: 1px solid #e4e4e4;
                                    width: 50px;
                                    text-align: center;
                                    margin-bottom: 10px;
                                }
                            }

                            .end {
                                margin-left: 10px;
                                text-align: center;
                            }
                        }

                        .string {
                            width: 1px;
                            height: 20px;
                            background-color: #e4e4e4;
                        }
                    }
                }
            }

            .right {
                flex-basis: 258px;
                border: 1px solid #ddd;
                border-radius: 4px;

                .header {
                    padding: 10px 20px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-bottom: 1px solid #ddd;
                }

                .content {
                    padding: 20px;
                    background-color: #fff;

                    .card {
                        display: inline-block;
                        text-align: center;

                        &:not(:last-child) {
                            margin-right: 50px;
                        }

                        .img-container {
                            img {
                                width: 44px;
                                height: 44px;
                            }
                        }
                    }
                }
            }
        }
    }

    // .vehicle-online {
    //     padding: 20px;
    // }
}